.page-auth {
  .row-login {
    min-height: 65vh;
  }

  .section-store-auth {
    h2 {
      font-weight: 300;
      font-size: 28px;
      margin-top: 0;

      color: #0c0d36;
    }
  }

  .form-control {
    border-radius: 8px;
    background: #f3f3f3;
  }

  .btn-signup {
    @include button-variant(#f3f3f3, transparent);
    color: #bbb;
  }

  .img-auth-animate {
    width: 320px;
    height: 420px;
    border-radius: 8px;
    object-fit: cover;
  }
}

.page-margin {
  margin-top: 150px;
}
